---
import Button from "@web/components/shared/button/button.astro"
import Link from "@web/components/shared/link/link.astro"

import Logo from '@web/components/reusable/logo.astro';
import { cn } from "@web/lib/utils";

type Brand = {
  logo?: any; // `logo` can be a any component
  name: string;
};

interface Props {
	brand: Brand;
	links?: string[];
	cta?: string[];
	class?: string;
}

const props = Astro.props;
---

<header class={cn('safe-paddings fixed left-0 right-0 top-0 z-30 h-auto w-full bg-white sm:z-50', props.class)}>
	<nav class={cn('container flex items-center py-[18px] md:justify-between md:py-[10px]')}>
		<a class="transition-colors duration-200 shrink-0" href="/">
			<Logo />
		</a>
		<ul class="ml-9 mt-0.5 flex items-center gap-1 md:hidden">
			links
		</ul>
		<div class="ml-auto flex items-center gap-4 md:mr-10 sm:hidden">
			cta
		</div>
	</nav>
</header>
