---
import '@web/assets/css/main.css';
import Header from '@web/components/shared/header/header.astro';

const props = Astro.props;
---
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Bytebase</title>
</head>
<body>
  <Header brand={{ name: "Bytebase" }} />
	<main class="relative z-20 shrink-0 grow basis-auto pt-[128px] md:pt-[112px]">
    <slot />
  </main>
  <footer class="safe-paddings container relative z-10 shrink-0 pt-20 lg:pt-14 md:pt-12 xs:pt-10">
    todo...
  </footer>
</body>
</html>
